<header class="bg-indigo-600 z-50 fixed top-0 w-full">
    <div class="container mx-auto">
      <nav class="flex p-6 items-center justify-between">
        <a href="#" class="text-2xl text-white">ASTRO-WEB</a>
        <ul class="md:flex gap-x-12 text-md hidden">
          <li>
            <a href="/" class="text-white hover:text-indigo-100 duration-100"
              >Home</a
            >
          </li>
          <li>
            <a href="/products" class="text-white hover:text-indigo-100 duration-100"
              >Produsts</a
            >
          </li>
          <li>
            <a href="/about" class="text-white hover:text-indigo-100 duration-100"
              >About</a
            >
          </li>
          <li>
            <a href="#" class="text-white hover:text-indigo-100 duration-100"
              >Service</a
            >
          </li>
          <li>
            <a href="#" class="text-white hover:text-indigo-100 duration-100"
              >Contacr</a
            >
          </li>
        </ul>

        <button class="px-3 blcok md:hidden py-2 rounded-2xl bg-white border">
          <i class="bi bi-list text-3xl"> </i>
        </button>
      </nav>
    </div>
  </header>